<?xml version="1.0"?>
<launch>
<!--
  <arg
    name="laser_1_input_topic"
    default="$(optenv ROBOT_MERGE_SCAN_1_TOPIC front_laser/scan)"
  />
  <arg
    name="laser_2_input_topic"
    default="$(optenv ROBOT_MERGE_SCAN_2_TOPIC rear_laser/scan)"
  />
  <arg
    name="output_topic"
    default="$(optenv ROBOT_MERGE_SCAN_OUTPUT_TOPIC merged_laser/scan)"
  />

  <node
    name="relay_merge_laser_1"
    pkg="topic_tools"
    type="relay"
    args="$(arg laser_1_input_topic) $(arg output_topic)"
  />
  <node
    name="relay_merge_laser_2"
    pkg="topic_tools"
    type="relay"
    args="$(arg laser_2_input_topic) $(arg output_topic)"
  />

 -->
  <arg name="id_robot" default="robot"/>
  <arg name="prefix" default="$(arg id_robot)_"/>
  <arg name="angle_min" default="$(optenv MERGE_SCAN_ANGLE_MIN -3.1415)" />
  <arg name="angle_max" default="$(optenv MERGE_SCAN_ANGLE_MAX 3.1415)" />
  <arg name="node_name" default="merged_laser" />
  <arg name="destination_frame" default="$(arg prefix)base_footprint"/>
  <arg name="fixed_frame" default="$(arg prefix)odom"/>
  <arg name="cloud_destination_topic" default="cloud"/>
  <arg name="scan_destination_topic" default="scan"/>
  <arg name="check_topic_type" default="true" />
  <arg name="laserscan_topics" default="$(optenv ROBOT_MERGE_SCAN_TOPICS front_laser/scan rear_laser/scan)" />

  <node
    pkg="ira_laser_tools"
    type="laserscan_multi_merger"
    name="$(arg node_name)"
  >
    <param name="angle_min" value="$(arg angle_min)" />
    <param name="angle_max" value="$(arg angle_max)" />
    <param name="fixed_frame" value="$(arg fixed_frame)"/>
    <param name="destination_frame" value="$(arg destination_frame)"/>
    <param name="cloud_destination_topic" value="$(arg cloud_destination_topic)"/>
    <param name="scan_destination_topic" value="$(arg scan_destination_topic)"/>
    <param name="check_topic_type" value="$(arg check_topic_type)" />
    <param name="laserscan_topics" value="$(arg laserscan_topics)" />
  </node>
 </launch>